@tailwind base;
@tailwind components;
@tailwind utilities;

  :root {
  font-family: 'Just Another Hand', cursive;

  line-height: 1.1;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #2D1905 ;
  background-blend-mode: multiply;
  background-image: url(https://img.freepik.com/free-photo/background-crumpled-paper-sheet_1194-7545.jpg);
}

h1, h2 {
  font-family: 'Just Another Hand', cursive;
}

/*Changes the angle of the post its */
#Panel > div:nth-child(4n+1) {
  transform: rotate(3deg);
}

#Panel > div:nth-child(2n+2) {
  transform: rotate(-3deg);
}

#Panel > div:nth-child(3) {
  transform: rotate(5deg);
}

#Panel > div:nth-child(6) {
  transform: rotate(-2deg);
}

#Panel > div:hover {
  transform: rotate(0deg);
  scale: 1.3;
  z-index: 5;
  transition: 200ms;
}


/* uses js to add and remove class to start and end an animation */
.tampaAnim {
  animation: tampa 200ms ease-out ;
  animation-iteration-count: 1;
  top: 20%;  
  rotate: -20deg;
  left: 10%;
}

@keyframes tampa {
  0% {
    top: 35%;  
    rotate: 0deg;
    left: initial;
  }
  100% {
    top: 20%;  
    rotate: -20deg;
    left: 10%;
  }
} 

.trash {
  animation: trash 300ms ease-in-out;
}
.trashBin {
  background-color: crimson;
}

@keyframes trash {
  0% {
   color: #2D2A2A;
    top: 0;
  }
  50% {
    top: 100%;
  }
  100% {
    top: 0;  
  }
}